.comments {
    background:$primary;
    height: 120vh;

    @include large-up{
        height: 60vh;
    }

    &__heading{
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        color:$black;

    }

    img {
        border-radius: 50%;
    }

}

.carousel-indicators li {
    width: 8px!important;
    height: 8px!important;
    border-radius: 50%;
    background-color: $light-gray!important;
}
