.services {
    padding: 50px;
    border-bottom:1px solid #dadada;

    &:last-child{
        border:0;
    }
    &__heading{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.75rem;
    }
    &__divider{
        border-bottom: 3px solid $primary;
        width: 50%;
        display: block;
        margin: 0 auto;
        padding: 20px;
    }
    &__text {
        color:$light-gray;
    }
    &__container-img{
        position: relative;
        box-shadow: 5px 5px 25px $light-gray;
        &:hover {
            .services__overlay{
                top:0;
                height: 100%;
                transform: rotate(360deg);
            }

        }
    }
    &__overlay{
        position: absolute;
        top:100%;
        left:0;
        right: 0;
        background: rgba(255,213,205,.9);
        overflow:hidden;
        width: 100%;
        height: 0;
        transition: .6s ease;
        i{
            transition: .6s;
            &:hover{
                transform: scale(1.5);
                box-shadow: 3px 3px 10px rgba(0,0,0,.3);
            }
        }
    }
    &__insta {
        color: #F77737!important;
    }


    &__overlay-text{
        color:$black;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;



    }
    &__contact-btn{
        position: absolute;
        top:65%;
        left:50%;
        transform: translate(-50%,-50%);
        padding: 10px;
        background:transparent;

    }
}


